.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.account-buttons {
  display: flex;
  gap: 30px;
}

.auth-buttons {
  color: white;
  background-color: #d43f3f;
  box-shadow: #631212 4px 4px 0 0;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
  border: none;
}

.auth-buttons:hover {
  background-color: #ebcb8b;
  box-shadow: #725d33 4px 4px 0 0;
}

.auth-buttons:active {
  box-shadow: #631212 2px 2px 0 0;
  transform: translate(2px, 2px);
}
